/*------------------*/
* {
    padding: 0;
    margin: 0;
    border: 0;
}

*,
*:before,
*:after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

:focus,
:active {
    outline: none;
}

a:focus,
a:active {
    outline: none;
}

nav,
footer,
header,
aside {
    display: block;
}

html,
body {
    height: 100%;
    width: 100%;
    font-size: 100%;
    line-height: 1;
    font-size: 14px;
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
    font-family: inherit;
}

input::-ms-clear {
    display: none;
}

button {
    cursor: pointer;
}

button::-moz-focus-inner {
    padding: 0;
    border: 0;
}

a,
a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

ul li {
    list-style: none;
}

img {
    vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-size: inherit;
    font-weight: 400;
}
/*--------------------*/


@font-face {
    font-family: 'Prata';    
    src: /*local('Prata Regular'), local('Prata-Regular'), */       
        url('../fonts/Prata-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

body {
    font-family: 'Prata', serif;
    color: #D5C9BE;
    background-color: #282829;    
}

header {
    width: 100%;
    top: 0;
    left: 0;
    z-index: 10;
    position: fixed;
    
}
.header {
    transition: background-color 0.3s;
}
.header.scrolled {
    background-color: #222222;
}


.header-container {
    max-width: 1920px;
    min-height: 140px;
    margin: auto;
    display: flex;
    justify-content: flex-start;
    background-color: transparent;
}
.header-container img {
    display: block;
}
nav {
    display: flex;
    align-items: center;
    gap: 29px;
}

.nav-link {
    color: #FFFFFF;
    font-family: Arial, sans-serif;
    font-size: 16px;
    font-weight: 400;
    font-style: italic;
    text-decoration: none;    
}
.logo {    
    margin-right: 165px;
    align-self: center;
}

.main {
    background-color: #222222;
}
.main-container {
    max-width: 1920px;
    min-height: 1009px;
    display: flex;
    justify-content: space-between;
    margin: auto;
}
.main-content {
    margin-top: 340px;
    margin-bottom: 50px;
}
h1 {
    font-family: 'Prata', serif;
    font-size: 80px;
    margin-bottom: 50px;
}
.main-text h2 {
    font-size: 50px;
    margin-bottom: 66px;
}
.main-text ul {
    display: flex;
    flex-direction: column;
    gap: 45px;
    margin-bottom: 40px;
}
.main-item {
    display: flex;
    align-items: center;
    gap: 10px;
}
.main-numbers {
    font-family: 'Prata', serif;
    font-size: 40px;
}
.main-span {
    font-family: Arial, sans-serif;
    font-size: 24px;
}
.main-button {
    width: 191px;
    height: 96px;
    font-family: Arial, sans-serif;
    font-size: 24px;
    font-weight: bold;
    background-color: #fff;
    color: #222222;       
    text-align: center;
    border-radius: 4px;
}
.image-block {
    max-width: 763px;
    overflow: hidden;
}
.image-block img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.advantages {
    margin-top: 100px;
    margin-bottom: 100px;
}
.advantages-container {
    max-width: 1920px;
    min-height: 723px;         
    display: flex;
    justify-content: space-between;
    margin: auto;
}
.advantages-image {
    width: calc((100% - 60px) / 3);    
    overflow: hidden;
}
.advantages-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.advantages-content {
    width: calc((100% - 106px) / 3);
    padding: 53px 53px 0 53px;
}
.advantages-content ul {
    margin-bottom: 80px;
}
.advantages-item {
    display: flex;
    align-items: flex-start;
    gap: 20px;
    padding: 40px 0;
}
.advantages-item span {
    font-family: Arial, sans-serif;
    line-height: 120%;
    font-size: 24px;
}
.advantages-button {
    width: 100%;
    height: 78px;
    font-family: Arial, sans-serif;
    font-size: 20px;
    font-weight: bold;
    background-color: #fff;
    color: #222222;
    text-align: center;
    border-radius: 4px;
}