/*------------------*/
* {
    padding: 0;
    margin: 0;
    border: 0;
}

*,
*:before,
*:after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

:focus,
:active {
    outline: none;
}

a:focus,
a:active {
    outline: none;
}

nav,
footer,
header,
aside {
    display: block;
}

html,
body {
    height: 100%;
    width: 100%;
    font-size: 100%;
    line-height: 1;
    font-size: 14px;
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
    font-family: inherit;
}

input::-ms-clear {
    display: none;
}

button {
    cursor: pointer;
}

button::-moz-focus-inner {
    padding: 0;
    border: 0;
}

a,
a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

ul li {
    list-style: none;
}

img {
    vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-size: inherit;
    font-weight: 400;
}
/*--------------------*/


@font-face {
    font-family: 'Prata';    
    src: /*local('Prata Regular'), local('Prata-Regular'), */       
        url('../fonts/Prata-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

body {
    font-family: 'Prata', serif;
    color: #D5C9BE;
    background-color: #282829;    
}

header {
    width: 100%;
    top: 0;
    left: 0;
    z-index: 10;
    position: fixed;
    
}
.header {
    transition: background-color 0.3s;
}
.header.scrolled {
    background-color: #222222;
}


.header-container {
    max-width: 1920px;
    min-height: 140px;
    margin: auto;
    display: flex;
    justify-content: flex-start;
    background-color: transparent;
}
.header-container img {
    display: block;
}
nav {
    display: flex;
    align-items: center;
    gap: 29px;
}

.nav-link {
    color: #FFFFFF;
    font-family: Arial, sans-serif;
    font-size: 16px;
    font-weight: 400;
    font-style: italic;
    text-decoration: none;    
}

.logo {    
    margin-right: 165px;
    align-self: center;
}
.logo img {
    width: 100%;
    object-fit: cover;
}

.main {
    background-color: #222222;
}
.main-container {
    max-width: 1920px;
    min-height: 1009px;
    display: flex;
    justify-content: space-between;
    margin: auto;
}
.main-content {
    margin-top: 340px;
    margin-bottom: 100px;
}
h1 {
    font-family: 'Prata', serif;
    font-size: 80px;
    line-height: 120px;
    margin-bottom: 50px;
}
.main-text h2 {
    font-size: 50px;
    line-height: 100px;
    margin-bottom: 66px;
}
.main-text ul {
    display: flex;
    flex-direction: column;
    gap: 45px;
    margin-bottom: 40px;
}
.main-item {
    display: flex;
    align-items: center;
    gap: 10px;
}
.main-numbers {
    font-family: 'Prata', serif;
    font-size: 40px;
}
.main-span {
    font-family: Arial, sans-serif;
    font-size: 24px;
}
.main-button {
    width: 191px;
    height: 96px;
    font-family: Arial, sans-serif;
    font-size: 24px;
    font-weight: bold;
    background-color: #fff;
    color: #222222;       
    text-align: center;
    border-radius: 4px;
}
.image-block {
    max-width: 763px;
    overflow: hidden;
}
.image-block img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.advantages {
    margin-top: 100px;
    margin-bottom: 100px;
}
.advantages-container {
    max-width: 1920px;
    min-height: 723px;         
    display: flex;
    justify-content: space-between;
    margin: auto;
}
.advantages-image {
    width: calc((100% - 60px) / 3);    
    overflow: hidden;
}
.advantages-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.advantages-content {
    width: calc((100% - 106px) / 3);
    padding: 53px 53px 0 53px;
}
.advantages-content ul {
    margin-bottom: 80px;
}
.advantages-item {
    display: flex;
    align-items: flex-start;
    gap: 20px;
    padding: 40px 0;       
}
.advantages-item span {
    font-family: Arial, sans-serif;
    line-height: 120%;
    font-size: 24px;
}
.advantages-line {
    border-top: 2px solid #55565A;
}
.advantages-button {
    width: 100%;
    height: 78px;
    font-family: Arial, sans-serif;
    font-size: 20px;
    font-weight: bold;
    background-color: #fff;
    color: #222222;
    text-align: center;
    border-radius: 4px;
}
.form {
    margin-bottom: 100px;
}
.form-container {
    max-width: 1597px;
    min-height: 628px;
    display: flex;    
    gap: 50px;
    align-items: center;
    justify-content: space-between;
    margin: auto;
    background-color: #fff;
    border-radius: 30px;
    overflow: hidden;
}
.form-contacts {
    max-width: 781px;    
    display: flex;
    flex-direction: column;
    margin: 72px 0 72px 134px;
}
.form-contacts h2 {
    margin-bottom: 45px;
}
.form-title {
    font-size: 54px;
    line-height: 110%;
    color: #38535D;
}
.form-image {
    width: 682px;
    overflow: hidden;
    border-radius: 0 30px 30px 0;
}
.form-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
input {
    width: 100%;
    height: 65px;
    border: 2px solid #D6D6D6;
    border-radius: 4px;
    color: #D6D6D6;
    padding-left: 40px;    
}
.form-name {
    margin-bottom: 13px;
    font-family: Arial, sans-serif;
    font-size: 24px;
}
.form-email {
    margin-bottom: 26px;
    font-family: Arial, sans-serif;
    font-size: 24px;
}
.form-agreement {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 16px;
    margin-bottom: 26px;
}
.form-checkbox {
    width: 24px;
    height: 24px;
    color: #405D65;
    border-radius: 4px;
}
.form-contacts span {
    font-family: Arial, sans-serif;
    font-size: 19px;
    color: #55565A;
}
.form-button {
    width: 100%;
    height: 100px;
    border-radius: 4px;
    font-family: Arial, sans-serif;
    font-size: 24px;
    color: #FFFFFF;
    background-color: #282829;
}
.footer-line {
    border-top: 2px solid #D5C9BE;
}
.footer-container {
    max-width: 1920px;    
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin: auto;
    padding: 60px 0;
    
}
.footer-menu {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    align-items: center;
    gap: 60px;
    margin: auto;    
}
.footer-top {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    align-items: center;
    justify-content: space-between;    
    margin-bottom: 38px;
}
.footer-socials {
    display: flex;
    gap: 33px;
}
.footer-link {
    width: 32px;
    height: 32px;
    overflow: hidden;
}
.footer-link img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.footer-button {
    width: 180px;
    height: 78px;
    font-family: Arial, sans-serif;
    font-size: 20px;
    font-style: italic;
    border-radius: 4px;
    background-color: #fff;
}
.footer-bottom {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    align-items: center;
    justify-content: space-between;
}
.footer-span {
    font-family: Arial, sans-serif;
    font-size: 20px;
    color: #FFFFFF;
}
.footer-privacy {
    font-family: Arial, sans-serif;
    font-size: 20px;
    color: #D5C9BE;
}
.footer-terms {
    font-family: Arial, sans-serif;
    font-size: 20px;
    color: #D5C9BE;
}

@media (max-width: 1728px) {
    .header-container {
        align-items: center;
        padding-right: 5%;
        padding-left: 5%;
    }
    h1 {
        font-size: 50px;
        line-height: 120px;        
    }
    .header nav {
        margin-left: 130px;
    }
    .logo {
        width: 80px;
        height: 15px;
        margin: 0;
    }
    .nav-link {
        font-size: 14px;
    }
    .main-container {
        min-height: 700px;
    }
    .main-content {
        max-width: 800px;
        padding-left: 5%;
    }
    .main-text h2 {            
        font-size: 30px;
        line-height: 60px;
    }

    .main-numbers {            
        font-size: 26px;
    }    
    .main-span {            
        font-size: 16px;
    }    
    .main-button {
        width: 120px;
        height: 66px;            
        font-size: 16px;            
    }
    
    .advantages-container {
        flex-wrap: wrap;
        gap: 100px;
    }
    .advantages-image {
        width: 100%;
    }
    .advantages-content {
        width: 100%;
        margin-left: 10%;
        margin-right: 10%;
        padding: 0;
    }
    .advantages-item span {
        font-size: 14px;
    }
    .advantages-button {
        font-size: 14px;
    }
    .form-container {        
        margin-left: 5%;
        margin-right: 5%;
        min-height: 400px;
    }
    .form-content {
        padding-left: 5%;
        margin-top: 50px;
    }
    .form-contacts {
        max-width: 500px;;                
        margin: 0 30px;
    }
    .form-title {
        font-size: 30px;
        line-height: 60px;
    }
    
    
    input {            
        height: 40px;            
        padding-left: 20px;
    }
    
    .form-name {            
        font-size: 14px;
    }
    
    .form-email {            
        font-size: 14px;
    }
    .form-checkbox {
        width: 16px;
        height: 16px;
    }
    .form-contacts span {
        font-size: 14px;
    }
    .form-image {
        height: 100%;
    }
    .form-agreement {
        margin-bottom: 10px;
    }
    .form-button {
        font-size: 14px;
        height: 50px;
    }
    .footer-container {
        padding-right: 5%;
        padding-left: 5%;
    }
    .footer-link {
        width: 16px;
        height: 16px;
    }
    .footer-button {
        height: 60px;
        font-size: 14px;
    }
    .footer-span {            
        font-size: 14px;           
    }
    
    .footer-privacy {
        font-size: 14px;
    }
    
    .footer-terms {            
        font-size: 14px;            
    }
}
@media (max-width: 1280px) {
    .main-container {
        flex-wrap: wrap;
    }
    .image-block {
        display: none;
    }
    .main-content {
        margin-top: 240px;            
    }        

}
@media (max-width: 940px) {
        
    h1 {
        max-width: 500px;
        font-size: 40px;
        line-height: 60px;
    }
    .main-text h2 {
        font-size: 20px;
        line-height: 40px;
    }        
    .main-numbers {
        font-size: 20px;
    }        
    .main-span {
        font-size: 14px;
    }
    .form-container {
        flex-wrap: wrap;            
    }
    .form-contacts {
        width: 100%;
        margin: 0;
        padding: 0 5%;            
    }
    .form-image {
        width: 100%;
        height: 100%;
        border-radius: 0;
    }
}
@media (max-width: 700px) {
    .header-container {
        flex-direction: column;
        margin-top: 40px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        background-color: #222222;
    }
    .header nav {
        flex-direction: column;
        margin-left: 0px;
        margin-top: 40px;
        margin-bottom: 40px;
    }
    
    .main {
        margin-top: 120px;
    }
    .main-item {
        flex-wrap: wrap;
    }

    h1 {
        max-width: 300px;
        font-size: 26px;
        line-height: 40px;
    }
    
    .main-text h2 {
        font-size: 16px;
        line-height: 30px;
    }
    
    .main-numbers {
        font-size: 18px;
    }
    .footer-link {
        width: 14px;
        height: 14px;                
    }
    
    .footer-socials {
        gap: 15px;
    }
}
    
